@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,*::before,*::after{ padding: 0;  margin: 0;  box-sizing: border-box; user-select: none}

p,h1,h2,h3,h4,ul,li,a {list-style: none; text-decoration: none;  }

input,
select,
option,
.reg,
.reg_h2,
.reg_form,
.reg_section_firstName_lastName_email,
.reg_label_h2,
.reg_section,
.reg_label,
.reg_input,
.reg_section_employment,
.reg_option,
.reg_box_textarea,
.reg_label_textarea,
.reg_label_textarea_h2,
.reg_input_textarea,
.reg_button,
.reg_button_h2
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

input{ border: 0.1vh solid rgba(0,0,0, 1); }

input:hover{  border: 0.1vh solid #faa500; }

.reg{ width: 100vw;  height: 65vh; }

.reg_h2{
    width: 60vw;
    height: 10vh;
    color: rgba(0,0,0, 0.8);
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.reg_form{
    grid-template-rows: 2fr 4fr 1fr;
    width: 60vw;
    height: 55vh;
    border: 0.1vh solid rgba(0,0,0, 0.6);
}
.reg_section_firstName_lastName_email{
    width: 60vw;
    height: 10vh;
    grid-template-columns: repeat(3,1fr);
}

.reg_label_h2{
    width: 15vw;
    height: 5vh;
    color: rgba(0,0,0, 0.6);
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.reg_section{
    grid-template-rows: repeat(2,1fr);
    width: 15vw;
    height: 10vh;
}

.reg_label,
.reg_input{
    width: 15vw;
    height: 5vh;
    color: rgba(0,0,0, 1);
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.reg_input{ border: 0.1vh solid rgba(0,0,0, 0.6); }

.reg_input:hover{ border: 0.1vh solid #faa500; }

select{
    width: 15vw;
    height: 5vh;
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    background-color: rgba(255,255,255, 1);
    color: rgba(0,0,0, 1);
}

option{
    width: 15vw;
    height: 5vh;
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.reg_box_textarea{ width: 60vw;  height: 30vh;   }

.reg_label_textarea{  width: 30vw;  height: 5vh; }

.reg_label_textarea_h2{
    width: 30vw;
    height: 10vh;
    color:  rgba(0,0,0, 0.6);
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    bottom: 2vh;
}

.reg_input_textarea,
textarea{
    height: 20vh;
    width: 55vw;
    resize: none;
    border: 0.1vh solid  rgba(0,0,0, 0.6);
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: start;
}

textarea:hover{ border: 0.1vh solid  #faa500; }

.reg_button{
    bottom: 2vh;
    border: 0.1vh solid  rgba(0,0,0, 0.6);
    width: 12vw;
    height: 5vh;
    background-color: rgba(255,255,255, 1 );
    cursor: pointer;
}

.reg_button:hover{ border: 0.1vh solid  #faa500;}

.reg_button:hover .reg_button_h2{  color:   #faa500;}

.reg_button_h2{
    width: 10vw;
    height: 3.5vh;
    background-color: rgba(255,255,255, 1 );
    color: rgba(0,0,0, 0.6);
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}